<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181110679638-v5dlsni5g2u5juk4994kvg50u5oq7dna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181110679638-v5dlsni5g2u5juk4994kvg50u5oq7dna</string>
	<key>API_KEY</key>
	<string>AIzaSyAW_LAEE7N72zKKjvk5gny13moawO6Nh50</string>
	<key>GCM_SENDER_ID</key>
	<string>181110679638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edu.ucundinamarca.lineaProfundizacion2</string>
	<key>PROJECT_ID</key>
	<string>linea2-2eab6</string>
	<key>STORAGE_BUCKET</key>
	<string>linea2-2eab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181110679638:ios:ce0b2237252acae56033f7</string>
</dict>
</plist>